.env
.env.*
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
build/
dist/
site/
pip-wheel-metadata/
pip-log.txt
.vscode/
.idea/
.DS_Store
Thumbs.db
venv/
.venv/
env/